flask==2.1.1
werkzeug==2.0.3
aiohttp
pyrogram==1.4.16
pymongo
requests
dnspython
tgcrypto==1.2.2
python-dotenv
redis
telegraph
requests
aiohttp[speedups]
bs4
pymongo
dnspython
motor<2.4.0,>=2.1.0
speedtest-cli
redis
telegraph
odmantic
tracemoepy
