dnspython==2.2.1
motor
psutil==5.9.4
pyromod==1.5
pyrogram1==0.1.0
python-dotenv==0.21.0
telethon==1.26.1
flask==2.1.1
werkzeug==2.0.3
aiohttp
pyrogram==1.4.16
pymongo
requests
dnspython
tgcrypto==1.2.2
python-dotenv
redis
telegraph
requests
aiohttp[speedups]
bs4
pymongo
dnspython
motor<2.4.0,>=2.1.0
speedtest-cli
redis
telegraph
odmantic
tracemoepy
future
emoji
lxml
wget
gtts
beautifulsoup4
requests==2.20.0
python-telegram-bot==12.8
sqlalchemy==1.3.20
PyDictionary==2.0.1
psycopg2-binary
feedparser
hachoir
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
google_trans_new
jikanpy
regex
bleach
wikipedia
telethon
telegraph
telegram
unidecode
pyfiglet
yt_dlp
youtube_search
pickledb
